In [5]:
import pandas as pd
%matplotlib inline

In [1]:
from torchvision.transforms import Resize

In [2]:
data = pd.read_csv('atec_anti_fraud_train.csv')

In [3]:
data.head(5)

,id,label,date,f1,f2,f3,f4,f5,f6,f7,...,f288,f289,f290,f291,f292,f293,f294,f295,f296,f297
0,f10eb20f31cf7063ee8bdbd1272214e4d7e0193c8dbce4...,0,20171103,0,0,0,0,100807.0,0,5,...,301.0,312.0,328.0,85.0,302.0,201.0,203.0,203.0,61.0,201.0
1,d861929b67938d06538b910b9f6b85f5eb62b6ad7361ba...,0,20170917,0,1,1,1,100805.0,1,5,...,302.0,324.0,391.0,13.0,302.0,160.0,160.0,161.0,8.0,160.0
2,1270cb8a85eedd57672b2c6297fa5633e36773a2c3a351...,0,20171022,0,0,1,0,100102.0,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9fa009724ee7ff9d688ae321304fbc78f608cdabbfdd2b...,0,20171029,0,0,0,1,100807.0,1,4,...,302.0,322.0,341.0,57.0,251.0,175.0,176.0,176.0,49.0,150.0
4,1da482485d7e8bcefae7e9d0d1167cec3ac111cfa71d8b...,0,20171002,1,1,0,1,100805.0,1,5,...,302.0,301.0,301.0,74.0,302.0,182.0,181.0,182.0,51.0,181.0

In [13]:
(data['label']==1)

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
994701    False
994702    False
994703    False
994704    False
994705    False
994706    False
994707    False
994708    False
994709    False
994710    False
994711    False
994712    False
994713    False
994714    False
994715    False
994716    False
994717    False
994718    False
994719    False
994720    False
994721    False
994722    False
994723    False
994724    False
994725    False
994726    False
994727    False
994728    False
994729    False
994730    False
Name: label, Length: 994731, dtype: bool

In [12]:
data.isnull().sum().sort_values(ascending =False)

f42      925781
f36      925781
f47      925781
f46      925781
f45      925781
f44      925781
f43      925781
f41      925781
f40      925781
f39      925781
f38      925781
f37      925781
f35      341887
f34      341887
f33      341887
f32      341887
f49      341661
f54      341661
f56      341661
f57      341661
f51      341661
f58      341661
f59      341661
f60      341661
f61      341661
f62      341661
f50      341661
f55      341661
f48      341661
f63      341661
          ...
f236        919
f232        919
f240        919
f234        919
f235        919
f233        919
f237        919
f238        919
f239        919
f8            0
label         0
date          0
f1            0
f2            0
f3            0
f4            0
f6            0
f7            0
f19           0
f9            0
f10           0
f11           0
f12           0
f13           0
f14           0
f15           0
f16           0
f17           0
f18           0
id            0
Length: 300, dtype: int64