In [1]:
import pandas as pd

In [2]:
data787 = pd.read_csv('./787.csv')
data789 = pd.read_csv('./789.csv')
data2789 = pd.read_csv('./2789.csv')
data792 = pd.read_csv('./792.csv')
data788 = pd.read_csv('./788.csv')
data785 = pd.read_csv('./785.csv')
data794 = pd.read_csv('./794.csv')
data7883 = pd.read_csv('./7883.csv')

In [3]:
data788.head()

   SK_ID_CURR    TARGET
0      100001  0.031580
1      100005  0.109423
2      100013  0.016581
3      100028  0.039489
4      100038  0.130419

In [4]:
data788['TARGET']=(data788['TARGET']+data787['TARGET']+data2789['TARGET']
                   +data789['TARGET']+data792['TARGET']+data7883['TARGET']+data794['TARGET'])/7

In [5]:
data788.to_csv('submit.csv',index = False)