In [1]:
import pandas as pd

In [6]:
data774 = pd.read_csv('./774.csv')
data778 = pd.read_csv('./778.csv')
data783 = pd.read_csv('./783.csv')
data784 = pd.read_csv('./784.csv')
data785= pd.read_csv('./785.csv')
data788 = pd.read_csv('./788.csv')
data787 = pd.read_csv('./787.csv')
data789=pd.read_csv('./789.csv')

In [7]:
data788.head()

   SK_ID_CURR    TARGET
0      100001  0.031580
1      100005  0.109423
2      100013  0.016581
3      100028  0.039489
4      100038  0.130419

In [8]:
data778['TARGET']=(data783['TARGET']+data784['TARGET']+data785['TARGET']+data788['TARGET']+data787['TARGET'])/4

In [9]:
data778.to_csv('submit.csv',index = False)