In [1]:
import pandas as pd

In [2]:
data796 = pd.read_csv('./796.csv')
data797 = pd.read_csv('./797.csv')
data798 = pd.read_csv('./798.csv')

In [3]:
data798.head()

   SK_ID_CURR    TARGET
0      100001  0.067107
1      100005  0.199986
2      100013  0.054197
3      100028  0.076816
4      100038  0.202857

In [4]:
data798['TARGET']=data798['TARGET']*0.6+data797['TARGET']*0.3+data796['TARGET']*0.1

In [5]:
data798.to_csv('submit.csv',index = False)